<div class="dashboard">
   <h1>{{titulo}}</h1>
   <hr>
   <div>
       <fusioncharts
           width= "100%"
           height= "400"
           type= "column2d"
           dataFormat= "json"
           dataSource= "{{dataSourceBrowser}}">
       </fusioncharts>
   </div>
   <hr>
   <table width="100%" border="1" cellspacing="10" cellpadding="4">
     <caption>Distribuição dos acessos por browser</caption>
       <tr>
         <th>Browser</th>
         <th align="right">Acessos (%)</th>
       </tr>

       <tr ng-repeat="b in browsers | orderBy : '[0]'">
         <td>{{b[0]}}</td>
         <td>{{b[1]}}</td>
       </tr>
    </table>
    <hr>
    <div>
        <fusioncharts
            width= "100%"
            height= "400"
            type= "column2d"
            dataFormat= "json"
            dataSource= "{{dataSourceTemperatura}}">
        </fusioncharts>
    </div>
    <hr>
    <table width="100%" border="1" cellspacing="10" cellpadding="4">
      <caption>Temperatura média por mês</caption>
        <tr>
          <th>Cidade</th>
          <th>Jan</th>
          <th>Fev</th>
          <th>Mar</th>
          <th>Abr</th>
          <th>Mai</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Ago</th>
          <th>Set</th>
          <th>Out</th>
          <th>Nov</th>
          <th>Dez</th>
        </tr>
        <tr ng-repeat="lista in temperaturas | orderBy : 'name'">
          <td>{{lista.name}}</td>
          <td ng-repeat="data in lista.data">

          <td>
        </tr>
     </table>
     <hr>

</div>
