
<div >
    <form name="formulario" class="form-cadastro-usuario" ng-submit="cadastrarUsuario()">
        <h1>{{titulo}}</h1>
        <hr>
        <div class="form-campo medio">
            <label for="email">Email </label>
            <input type="email" id="email" name="email" ng-model="novoUsuario.email" required>
            <span style="color:maroon" ng-class="error" ng-show="formulario.email.$error.email">O formato de e-mail é inválido</span>
        </div>

        <div class="form-campo medio">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" ng-model="novoUsuario.password" required>
        </div>

        <div class="form-campo medio">
            <label for="passwordConfirmation">Repita a senha</label>
            <input type="password" id="passwordConfirmation" name="passwordConfirmation"
             ng-model="novoUsuario.passwordConfirmation" match="novoUsuario.password" required>
            <span style="color:maroon" ng-show="formulario.passwordConfirmation.$error.match">Campos de senha não conferem!</span>
        </div>

        <div class="form-campo medio">
            <label for="fullName">Nome Completo</label>
            <input type="text" id="fullName" name="fullName" ng-model="novoUsuario.fullName" required>
        </div>

        <div class="form-campo medio">
            <label for="birthDate">Data de Nascimento</label>
            <input type="date" id="birthDate" name="birthDate" ng-model="novoUsuario.birthDate" required
                   min="1900-01-01" max="2030-12-31">
            </input>
        </div>

        <div class="form-campo medio">
            <label for="zipCode">CEP</label>
            <input type="number" id="zipCode" name="zipCode" ng-model="novoUsuario.zipCode" required ng-maxlength=8 ng-minlength=8></input>
            <span style="color:maroon" ng-class="error" ng-show="formulario.zipCode.$error.maxlength || formulario.zipCode.$error.minlength">O tamanho é inválido</span>
        </div>

        <div class="form-campo medio">
            <label for="streetName">Rua</label>
            <input id="streetName" name="streetName" ng-model="novoUsuario.streetName"  required></input>
        </div>

        <div class="form-campo medio">
            <label for="number">Número</label>
            <input id="number" name="number" ng-model="novoUsuario.number" required></input>
        </div>

        <div class="form-campo medio">
            <label for="neighbourhood">Bairro</label>
            <input id="neighbourhood" name="neighbourhood" ng-model="novoUsuario.neighbourhood" ></input>
        </div>

        <div class="form-campo medio">
            <label for="complement">Complemento</label>
            <input id="complement" name="complement" ng-model="novoUsuario.complement"></input>
        </div>

        <div class="form-campo medio">
            <label for="country">País</label>
            <select data-style="btn-primary" ng-model="novoUsuario.country" name="country" id="country" required>
              <option value="">---País---</option>
              <option ng-repeat="option in lista.paises" value="{{option.id}}">{{option.country}}</option>
            </select>
        </div>

        <div class="form-campo medio">
            <label for="state">Estado</label>
            <input id="state" name="state" ng-model="novoUsuario.state" required></input>
        </div>

        <div class="form-campo medio">
            <label for="city">Cidade</label>
            <input id="city" name="city" ng-model="novoUsuario.city" required></input>
        </div>

        <div>
             <span>{{token}}</span>
            <button type="reset">Limpar</button>
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>
