/*
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css);
*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 20px 200px;
	background-color: #f1f1f1;
}

/*table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}*/

h1 {
	font-size: 3em;
}

input, select{
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.container {
	width: 100px;
	max-width: 50vw;
	margin: 1 auto;
}

.form-cadastro-usuario {
	margin-top: 30px;
	padding: 20px;
	background-color: #AAB2DD;
	
	
}

.form-cadastro-usuario h1 {
	font-size: 2em;
	margin-top: 0;
}

.dashboard {
	margin-top: 30px;
	padding: 20px;
	background-color: #AAB2DD;
}

.dashboard h1 {
	font-size: 2em;
	margin-top: 0;
}

.form-cadastro-usuario .form-campo {
	margin-bottom: 10px;
}

.form-cadastro-usuario .form-campo.pequeno input {
	width: 100px;
}

.form-cadastro-usuario .form-campo.medio input {
	width: 50%;
}

.form-cadastro-usuario .form-campo.medio select {
	width: 50%;
}


.form-cadastro-usuario .form-campo label {
	display: inline-block;
	margin-bottom: 3px;
}

.form-cadastro-usuario footer {
	margin-top: 30px;
	text-align: right;
}

.form-cadastro-usuario button[type="submit"] {
	background-color: #8CC155;
	color: #fff;
}

.form-cadastro-usuario button[type="submit"]:hover {
	background-color: #A0D461;
}

.form-cadastro-usuario button[type="reset"] {
	background-color: #AAB2BD;
	color: #fff;
}

.form-cadastro-usuario button[type="reset"]:hover {
	background-color: #CCD1D9;
}

input.ng-touched.ng-invalid{
    border-color: #f99;
		border-width: 3px;
}

select.ng-touched.ng-invalid{
    border-color: #f99;
		border-width: 3px;
}
